:root {
  --default-font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Ubuntu, "Helvetica Neue", Helvetica, Arial, "PingFang SC",
    "Hiragino Sans GB", "Microsoft Yahei UI", "Microsoft Yahei",
    "Source Han Sans CN", sans-serif;
}

.main-container {
  overflow: hidden;
}

.main-container,
.main-container * {
  box-sizing: border-box;
}

input,
select,
textarea,
button {
  outline: 0;
}

.main-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: nowrap;
  gap: 38px;
  position: relative;
  width: 620px;
  height: 380px;
  margin: 0 auto;
  padding: 40px 70px 50px 70px;
  background: #ffffff;
  border-radius: 24px;
  box-shadow: 2px 2px 28px 0 rgba(86, 92, 108, 0.08);
}
.login {
  align-self: stretch;
  flex-shrink: 0;
  flex-basis: auto;
  position: relative;
  height: 30px;
  color: #4972de;
  font-family: SUITE, var(--default-font-family);
  font-size: 24px;
  font-weight: 700;
  line-height: 29.952px;
  text-align: center;
  white-space: nowrap;
}
.frame-1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  flex-wrap: nowrap;
  flex-grow: 1;
  flex-shrink: 0;
  flex-basis: 0;
  position: relative;
  width: 480px;
  min-height: 0;
  z-index: 1;
}
.frame-2 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  align-self: stretch;
  flex-wrap: nowrap;
  flex-shrink: 0;
  gap: 40px;
  position: relative;
  z-index: 2;
}
.frame-3 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex-wrap: nowrap;
  flex-shrink: 0;
  gap: 10px;
  position: relative;
  width: 480px;
  z-index: 3;
}
.email {
  align-self: stretch;
  flex-shrink: 0;
  flex-basis: auto;
  position: relative;
  height: 22px;
  color: #181818;
  font-family: SUITE, var(--default-font-family);
  font-size: 18px;
  font-weight: 600;
  line-height: 22px;
  text-align: left;
  white-space: nowrap;
  z-index: 4;
}
.frame-4 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  align-self: stretch;
  flex-wrap: nowrap;
  flex-shrink: 0;
  gap: 6px;
  position: relative;
  z-index: 5;
}
.email-format {
  align-self: stretch;
  flex-shrink: 0;
  flex-basis: auto;
  position: relative;
  height: 17px;
  color: #c7c7c7;
  font-family: SUITE, var(--default-font-family);
  font-size: 14px;
  font-weight: 500;
  line-height: 17px;
  text-align: left;
  white-space: nowrap;
  z-index: 6;
}
.frame-5 {
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  flex-shrink: 0;
  gap: 4px;
  position: relative;
  width: 480px;
  height: 48px;
  padding: 14px 20px 14px 20px;
  background: #fbfbfb;
  z-index: 7;
  overflow: hidden;
  border-radius: 6px;
}
.frame-input {
  flex-shrink: 0;
  position: absolute;
  width: 480px;
  height: 48px;
  top: 0;
  left: 0;
  background: transparent;
  border: none;
  z-index: 9;
  outline: none;
}
.category-name {
  flex-grow: 1;
  flex-shrink: 0;
  flex-basis: auto;
  position: relative;
  min-width: 0;
  height: 20px;
  color: #c7c7c7;
  font-family: SUITE, var(--default-font-family);
  font-size: 16px;
  font-weight: 400;
  line-height: 19.968px;
  text-align: left;
  white-space: nowrap;
  z-index: 8;
}
.frame-6 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex-wrap: nowrap;
  flex-shrink: 0;
  gap: 10px;
  position: relative;
  width: 480px;
  z-index: 10;
}
.password {
  align-self: stretch;
  flex-shrink: 0;
  flex-basis: auto;
  position: relative;
  height: 22px;
  color: #181818;
  font-family: SUITE, var(--default-font-family);
  font-size: 18px;
  font-weight: 600;
  line-height: 22px;
  text-align: left;
  white-space: nowrap;
  z-index: 11;
}
.frame-7 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  align-self: stretch;
  flex-wrap: nowrap;
  flex-shrink: 0;
  gap: 6px;
  position: relative;
  z-index: 12;
}
.input-validation {
  align-self: stretch;
  flex-shrink: 0;
  flex-basis: auto;
  position: relative;
  height: 17px;
  color: #c7c7c7;
  font-family: SUITE, var(--default-font-family);
  font-size: 14px;
  font-weight: 500;
  line-height: 17px;
  text-align: left;
  white-space: nowrap;
  z-index: 13;
}
.frame-8 {
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  flex-shrink: 0;
  gap: 4px;
  position: relative;
  width: 480px;
  height: 48px;
  padding: 14px 20px 14px 20px;
  background: #fbfbfb;
  z-index: 14;
  overflow: hidden;
  border-radius: 6px;
}
.frame-input-9 {
  flex-shrink: 0;
  position: absolute;
  width: 480px;
  height: 48px;
  top: 0;
  left: 0;
  background: transparent;
  border: none;
  z-index: 16;
  outline: none;
}
.category-name-input {
  flex-grow: 1;
  flex-shrink: 0;
  flex-basis: auto;
  position: relative;
  min-width: 0;
  height: 20px;
  color: #c7c7c7;
  font-family: SUITE, var(--default-font-family);
  font-size: 16px;
  font-weight: 400;
  line-height: 19.968px;
  text-align: left;
  white-space: nowrap;
  z-index: 15;
}
.frame-a {
  display: flex;
  flex-direction: row;
  align-items: center;
  align-self: stretch;
  flex-wrap: nowrap;
  flex-shrink: 0;
  gap: 28px;
  position: relative;
  z-index: 17;

  justify-content: center;
}
.frame-button {
  display: flex;
  align-items: flex-start;
  align-self: stretch;
  flex-wrap: nowrap;
  flex-shrink: 0;
  gap: 14px;
  position: relative;
  cursor: pointer;
  background: transparent;
  border: none;
  z-index: 18;
}
.section-3 {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: nowrap;
  flex-grow: 1;
  flex-shrink: 0;
  flex-basis: 0;
  gap: 4px;
  position: relative;
  padding: 12px 20px 12px 20px;
  background: #6c94fc;
  z-index: 19;
  border-radius: 8px;
}
.text-8 {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-shrink: 0;
  flex-basis: auto;
  position: relative;
  width: 87px;
  height: 20px;
  color: #ffffff;
  font-family: SUITE, var(--default-font-family);
  font-size: 16px;
  font-weight: 700;
  line-height: 19.968px;
  text-align: center;
  white-space: nowrap;
  z-index: 20;
}
.section-4 {
  display: flex;
  align-items: flex-start;
  flex-wrap: nowrap;
  flex-shrink: 0;
  gap: 26px;
  position: relative;
  width: 163px;
  z-index: 21;
}
.Button-2 {
  flex-shrink: 0;
  position: relative;
  width: 55px;
  height: 20px;
  cursor: pointer;
  color: #6c94fc;
  font-family: SUITE, var(--default-font-family);
  font-size: 16px;
  font-weight: 500;
  line-height: 19.968px;
  white-space: nowrap;
  background: transparent;
  border: none;
  z-index: 22;
}
.Button-3 {
  flex-shrink: 0;
  position: relative;
  width: 82px;
  height: 20px;
  cursor: pointer;
  color: #c7c7c7;
  font-family: SUITE, var(--default-font-family);
  font-size: 16px;
  font-weight: 500;
  line-height: 19.968px;
  white-space: nowrap;
  background: transparent;
  border: none;
  z-index: 23;
}
